@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MVC CRUD Demo</h1>
    <p class="lead">Simple Product Catalog using ASP.NET Core MVC + EF Core + LocalDB.</p>
</div>
