@model Product

@{
    ViewData["Title"] = "Details";
}

<h2>Product Details</h2>

<dl class="row w-50">
    <dt class="col-sm-3">Id</dt>
    <dd class="col-sm-9">@Model.Id</dd>

    <dt class="col-sm-3">Name</dt>
    <dd class="col-sm-9">@Model.Name</dd>

    <dt class="col-sm-3">Category</dt>
    <dd class="col-sm-9">@Model.Category</dd>

    <dt class="col-sm-3">Price</dt>
    <dd class="col-sm-9">@Model.Price.ToString("C")</dd>
</dl>

<a asp-action="Index">Back to list</a>
